.h1 {
  font-size: 28px;
  color: #005a3a;
  margin-bottom: 20px;
  border-bottom: 2px solid #a6e34b;
  padding-bottom: 10px;
}

.h2 {
  font-size: 22px;
  color: #222;
  margin-bottom: 15px;
  font-weight: 600;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}

.auditQuestion {
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
}

.submitContainer {
  text-align: right;
  margin-top: 20px;
}

/* Botones */
.button {
  background-color: #005a3a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 5px rgba(0, 74, 47, 0.1);
}