/* Estilos para el nuevo componente ProgressBar */
.progressBarContainer {
  width: 100%;
  margin-bottom: 15px;
}

.progressBarLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.labelName {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.labelScore {
  font-size: 16px;
  font-weight: 700;
}

.progressBarBackground {
  width: 100%;
  height: 10px;
  background-color: #eef0f2; /* Gris de fondo */
  border-radius: 5px;
  overflow: hidden;
}

.progressBarFill {
  height: 100%;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
}