.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.h1 {
  font-size: 28px;
  color: #005a3a;
  margin-bottom: 20px;
  border-bottom: 2px solid #a6e34b;
  padding-bottom: 10px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}

.listItemContent {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
}

.listItemActions {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  align-items: center;
}

.techName {
  font-weight: bold;
  font-size: 18px;
  color: #005a3a;
  display: block;
}

.techZone {
  color: #555;
}

.techWorkload {
  font-size: 16px;
  margin-right: 10px;
}

/* Botones */
.button {
  background-color: #005a3a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 5px rgba(0, 74, 47, 0.1);
}

.button-secondary {
  background-color: #f0f0f0;
  color: #444;
  padding: 8px 12px; /* Ajuste del monolito */
  box-shadow: none;
}