.tooltipContainer {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.tooltipText {
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  width: 200px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

/* Efecto Hover que estaba en el <style> global */
.tooltipContainer:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}